.elapsedTime {
    margin-right: 20px;
    top: 25%;
    position: relative;
}

.uiContainer {
    display: flex;
    justify-content: space-evenly;
}

.uiContainer > .uiContainer {
    margin-left: 10px;
}

.uiButtons {
    cursor: pointer;
    transition: all 0.1s linear;
    color: #fff;
    border-radius: 1.6em;
    width: 3.8rem;
    height: 3.8rem;
    justify-content: center;
    font-size: 2.4em;
    font-weight: 700;
    margin: 0 auto;
    display: flex;
    user-select: none;
    outline: 0;
    border: 3px solid #fff;
    background-color: rgba(0, 0, 0, 0);
    margin-bottom: 20px;
    line-height: 125%;
}

.largeUiButtons {
    font-size: 1.5em;
    line-height: 200%;
}

.uiButtons:hover {
    transform: scale(1.2);
}

.hidden {
    display: none;
}

.statistics {
    background-color: rgba(0, 0, 0, 0.5);
    color: greenyellow;
    position: absolute;
    top: 0;
    font-size: large;
}

.tooltip {
    left: auto;
    top: 4em;
    position: absolute;
    padding: 0.5em;
    margin: -0.5em 0;
    font-size: 2.8em;
    line-height: 1.2;
    background: rgba(38, 38, 38, 0.85);
    border-radius: 0.3em;
    overflow: hidden;
    cursor: pointer;
}

.tooltipChild:hover {
    background: rgba(68, 68, 68, 0.85);
}

.tooltipChildSelected {
    border: 3px solid #ddd;
}

.tooltipOnTop {
    top: auto !important;
    bottom: 3.9em;
}

.bn_btn {
    margin: 0 5px;
    background-color: #e50914;
    border: none;
    padding: 10px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
}

.bn_border {
    border: 5px solid #e50914;
}

.bn_imdb_btn {
    margin: 5px;
    background-color: #f5c518;
    color: #000;
    border: none;
    border-radius: 4px;
    font-family: "Netflix Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 900;
    font-size: larger;
    float: right;
    padding: 0 5px;
    max-width: 100px !important;
    min-height: 5px !important;
    max-height: 100px !important;
}
